/* Used variables for colors and fonts */

:root {
    --primary-color: #000000;
    --white-color: #FFFFFF;
    --dark-overlay-color: #00000066;
    --light-overlay-color: #FFFFFF33;
    --secondary-color: #FF0000;
    --grey-overlay-color: #00000040;
    --secondary-overlay-color: #FF00004D;
    --white-overlay-color: #FFFFFF29;
    --text-color: #6A6A6A;
    --dark-adjecent-color: #28272C;
    --white-text-color: #B2B2B2;
    --dark-teriary-color: #D1D1D1;
    --primary-font: normal normal bold 16px/22px 'Nunito Sans';
    --links-font: normal normal bold 14px/19px 'Nunito Sans';
}

/* Reset - Normalize */

html, body, * {
    box-sizing: border-box;
}

/* Set Container */
.container {
    width: 1088px;
    margin: 0 auto;
}

/* s: header */

header {
    height: 807px;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/image.png') no-repeat;
    background-size:cover;
}
header .top-nav {
    height: 93px;
    background-color: var(--dark-overlay-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav a {
    font: var(--primary-font);
    color: var(--white-color);
    text-transform: uppercase;
    text-decoration: none;
    height: 93px;
    display: inline-block;
    padding-left: 41px;
    padding-right: 41px;
    padding-top: 35px;
}
header nav a:hover {
    background-color: var(--light-overlay-color);
}
/* e: header */

/* s: logo */

.logo {
    display: flex;
}
.logo span {
    font: normal normal bold 35px/47px 'Nunito Sans';
    color: var(--white-color);
    margin-left: 10px;
}
.logo span.colored { color: var(--secondary-color); }

/* e: logo */

/* s: banner */

.banner {
    margin-top: 254px;
}
.banner h1 {
    font: normal normal 900 90px/90px 'Nunito Sans';
    color: var(--white-color);
    text-align: center;
    height: 123px;
}
.banner p {
    margin-top: 10px;
    font: var(--primary-font);
    color: var(--white-color);
    text-align: center;
}

/* e: banner */

/* e: header:buttons */

.actions {
    margin-top: 54px;
    text-align: center;
}
.btn {
    padding: 22px 55px 22px 55px;
    text-transform: uppercase;
    font: var(--primary-font);
    text-decoration: none;
    border-radius: 30px;
}
.btn-primary {
    background-color: var(--secondary-color);
    color: var(--white-color);
    margin-right: 25px;
}
.btn-secondary {
    background-color: var(--white-color);
    color: var(--secondary-color);
}

/* e: header:buttons */

/* s: divider */

.icon {
    background-color: var(--secondary-color);
    border-radius: 30px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -27.5px;
    box-shadow: 0 3px 6px var(--secondary-overlay-color);
}
.icon a {
    background-image: url('../images/icon-down.png');
    background-size: 21px 21px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 21px;
    height: 21px;
    text-decoration: none;
}

/* e: divider */

/* s: section:headings */

.section__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}
.section__heading__line {
    width: 50px;
    height: 3px;
    background: #FF0000 0 0 no-repeat padding-box;
    box-shadow: 0 1px 6px #FF00004D;
    border-radius: 8px;
}

/* e: section:headings */


/* s: headings */

h2 {
    font: normal normal bold 35px/47px 'Nunito Sans';
    color: var(--primary-color);
    text-transform: uppercase;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

h3 {
    font: normal normal normal 19px/26px 'Nunito Sans';
    color: var(--text-color);
}

/* e: headings */

/* s: blog */

main {
    padding-top: 91px;
}

.blog {
    display: flex;
    margin-bottom: 100px;
}
article img {
    margin-bottom: 25px;
}

article h3, article p {
    padding-right: 92px;
    margin-bottom: 15px;
}
article p {
    font: normal normal 300 14px/19px 'Open Sans';
    color: var(--text-color);
}
article a {
    padding: 11px 29px 10px 29px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--secondary-color);
    color: var(--white-color);
    border-radius: 30px;
    display: inline-block;
    font: var(--links-font);
    box-shadow: 0 3px 6px var(--secondary-overlay-color);
}

/* e: blog */

/* s: services */

.dark {
    background-color: var(--dark-adjecent-color);
}
.service article {
    margin-right: 45px;
}
.service article:last-child {
    margin-right: 0;
}
.service img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.service h2 {
    color: var(--white-color);
}
.service .section__heading {
    padding-top: 60px;
    margin-bottom: 72px;
}
.service h3 {
    color: var(--white-color);
    text-align: center;
    padding-right: 0;
}
.service p {
    color: var(--white-text-color);
    text-align: center;
    padding-right: 0;
}
.service a {
    width: 142px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.services {
    display: flex;
    padding-bottom: 100px;
}

/* e: services */

/* s: contact */

.contact {
    padding-top: 65px;
    padding-bottom: 65px;
}
.contact__form {
    display: flex;
}
.contact__form img {
    margin-right: 16px;
    height: 317px;
}

.contact__form input[type="text"],
.contact__form textarea{
    border: 1px solid var(--dark-teriary-color);
    border-radius: 8px;
    width: 444px;
    height: 38px;
    margin-bottom: 20px;
    padding: 8px 12px 8px 12px;
}
.contact__form textarea {
    width: 444px;
    height: 140px;
    resize: none;
}
.contact__form input[type="text"]::placeholder,
.contact__form textarea::placeholder
{
    color: var(--white-text-color);
    font: normal normal normal 16px/22px 'Nunito Sans';
}

.error {
    box-shadow: 0 1px 6px var(--secondary-overlay-color);
    border: 1px solid var(--secondary-color)!important;
}
.contact__form input[type="submit"] {
    width: 142px;
    height: 40px;
    box-shadow: 0 3px 6px var(--secondary-overlay-color);
    border: 1px solid var(--secondary-color);
    border-radius: 40px;
    font: var(--links-font);
    color: var(--secondary-color);
    background-color: var(--white-color);
    margin-top: 20px;
    margin-left: 302px ;
    text-transform: uppercase;
}

.contact__form label[for="gdpr"] {
    font: normal normal 300 10px/14px 'Open Sans';
    color: #B2B2B2;
    width: 412px;
    display: inline-block;
    margin-left: 10px;
}

.contact__form input[type="checkbox"] {
    appearance: none;
    width: 22px;
    height: 22px;
    border: 1px solid var(--dark-teriary-color);
    border-radius: 8px;
}

.checkbox { display: flex;}
.contact__form input[type="checkbox"]:checked {
    background: url('../images/check.svg') 4px 4px no-repeat;
}

/* e: contact  */

/* s: footer */

footer {
    padding-top: 40px;
    padding-bottom: 40px;
}
footer .logo {
    margin-bottom: 22px;
}
footer .logo img {
    width: 19px;
}
footer .logo span{
    font: normal normal bold 25px/34px 'Nunito Sans';
    margin-left: 7px;
}
.footer__area {
    display: flex;
}
.footer__area nav a {
    color: var(--white-color);
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    font: var(--links-font);
    margin-bottom: 7px;
}
.footer__area nav a:hover {
    color: var(--secondary-color);
}
.footer__area .copyright {
    color: var(--dark-teriary-color);
    font: normal normal 300 12px/16px 'Nunito Sans';
    align-self: end;
}
.footer__area nav, .footer__area div {
    width: 25%;
}

/* e: footer */